body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #21252b;
  margin: 100px;
  overflow: overlay;
}

* {
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #abb2bf;
}

.btn {
  user-select: none;
  border: none;
  border: 1px solid #464c55;
  padding: 7px 16px;
  border-radius: 1px;
  outline: none;
  background-color: #3d424b;
  color: #abb2bf;
}

/* code mirror */

.CodeMirror-wrap pre {
  word-break: break-word;
  height: 300px;
}

.cm-editor {
  overflow-y: auto;
  height: 500px;
}

.cm-scroller::-webkit-scrollbar {
  width: 9px;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background-color: rgba(114, 114, 114, 0.7);
  border-radius: 0px;
}

.cm-scroller::-webkit-scrollbar-thumb:hover {
  background-color: rgba(114, 114, 114, 1);
}
